{% extends 'shared/_MainLayout.html' %}
{% load static %}





    {% block content %}
        <!-- Banner Start-->
    <section class="main-banner">
        <div class="main-banner-slider">
            {% for slider in sliders  %}
            <div class="banner-slider">

                    <div class="banner-box" style="background-image: url({{ slider.image.url }});"></div>
                    <div class="banner-box" style="background-image: url({{ slider.image2.url }});"></div>
                    <div class="banner-box" style="background-image: url({{ slider.image3.url }});"></div>


            </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="banner-content-slider">
                      {% for slider in sliders %}
                          <div class="banner-content">
                            <div class="banner-small-title wow fadeup-animation" data-wow-delay="0.4s">
                                <img src="{% static 'images/sub-bg.png' %}" alt="sub-bg">
                                <div class="banner-subtitle">خوش آمدید</div>
                            </div>
                            <h1 class="h1-title wow fadeup-animation" data-wow-delay="0.5s">{{ slider.title }}</h1>
                            <p class="wow fadeup-animation" data-wow-delay="0.6s">{{ slider.description }}</p>
                            <a href="javascript:void(0);" class="sec-btn wow fadeup-animation" data-wow-delay="0.7s" title="read more">بیشتر</a>
                        </div>
                        <div class="banner-content">
                            <div class="banner-small-title">
                                <img src="{% static 'images/sub-bg.png' %}" alt="sub-bg">
                                <div class="banner-subtitle">خوش آمدید</div>
                            </div>
                            <h1 class="h1-title">{{ slider.title2 }}</h1>
                            <p>{{ slider.description2 }}</p>
                            <a href="" class="sec-btn" title="read more">بیشتر</a>
                        </div>
                        <div class="banner-content">
                            <div class="banner-small-title">
                                <img src="{% static 'images/sub-bg.png' %}" alt="sub-bg">
                                <div class="banner-subtitle">خوش آمدید</div>
                            </div>
                            <h1 class="h1-title">{{ slider.title3 }}</h1>
                            <p>{{ slider.description3 }}</p>
                            <a href="javascript:void(0);" class="sec-btn" title="read more">بیشتر</a>
                        </div>
                      {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End-->

    <!--خدمات Start-->
    <section class="main-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-title"> گروه های علمی و پژوهشی </h2>
                </div>
            </div>
            <div class="row">
                {% for product in product %}


                        <div class="col-xl-3 col-lg-3 col-md-6 ">
                    <div class="main-service-box mob-mb-15 mob-mb-0 wow fadeup-animation" data-wow-delay="0.3s">
                        <div class="service-icon">
                            <img src="{% static 'images/service-icon-5.png' %}">
                        </div>
                        <h3 class="h3-title"> {{product.title }}</h3>
                        <p>{{ product.description|truncatechars:40}}</p>
                        <a href="{{ product.get_absolute_url }}" class="arrow-btn"><i class="fa fa-chevron-left"></i></a>
                    </div>


                    </div>








                {% endfor %}



            </div><br>
             <a href="/product" class="sec-btn align-items-center" title="بیشتر">بیشتر</a>


        </div>
    </section>
    <!--خدمات End-->

    <!--درباره ما Start-->
    <section class="main-about">
       {% for aboute_us in about_us %}
            <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="about-img-1">
                            <img src="{{ aboute_us.image.url }}" data-tilt data-tilt-max="3" alt="about us">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
                    <h2 class="h2-title mob-pt-30">درباره ی ما</h2>
                    <div class="main-about-pointbox">
                        <div class="about-point-box mr-15">
                            <img src="{% static 'images/tick.png' %}" alt="tick">
                                <div class="about-point-content">
                                    <p>پژوهش های مطالعات زنان</p>
                                </div>
                        </div>
                        <div class="about-point-box ml-15">
                            <img src="{% static 'images/tick.png' %}" alt="tick">
                                <div class="about-point-content">
                                    <p>پژوهش های گسترده ی مطالعات زنان</p>
                                </div>
                        </div>
                    </div>
                    <div class="about-content">
                        <p>{{ aboute_us.description|truncatechars:500 }}</p>

                        <a href="/about-us" class="sec-btn" title="بیشتر">بیشتر</a>
                    </div>
                </div>
            </div>
        </div>

       {% endfor %}

    </section>
    <!--درباره ما End-->

    <!--Counter Start-->
    <section class="main-counter">
        <div class="container counter-bg wow fadeup-animation" data-wow-delay="0.4s">
            <div class="row" id="counter">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box mob-mb-15 mob-mb-30">
                        <div class="counter-icon">
                            <img src="{% static 'images/counter-icon-1.png' %}" alt="Projects Completed">
                        </div>
                        <div class="counter-text">
                            <h2 class="h2-title counting-data" data-count="548">548+</h2>
                            <p>پروژه انجام شده</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box mob-mb-15 mob-mb-30">
                        <div class="counter-icon">
                            <img src="{% static 'images/counter-icon-2.png' %}" alt="مشتریان فعال">
                        </div>
                        <div class="counter-text">
                            <h2 class="h2-title counting-data" data-count="651">651+</h2>
                        <p> پژوهشگران فعال</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box mob-mb-15 mob-mb-30">
                        <div class="counter-icon">
                            <img src="{% static 'images/counter-icon-2.png' %}" alt="مشتریان فعال">
                        </div>
                        <div class="counter-text">
                            <h2 class="h2-title counting-data" data-count="651">651+</h2>
                        <p>  نشست های برگزار شده</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Counter End-->

    <!--پروژه ها Start-->
    <section class="main-case-studies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="/re_search"><h2 class="h2-title"> پژوهش های مرکز </h2></a>
                </div>
            </div>
            <div class="row case-slider">
                {% for research in research %}
                    <div class="col-lg-4">
                    <div class="main-case-box mob-ml-15 mob-mr-15 wow fadeup-animation" data-wow-delay="0.5s">
                        <div class="case-box">
                            <div class="case-img">
                                <img src="{{ research.image.url }}" alt="case 1">
                            </div>
                            <div class="case-content">
                                <div class="case-icon">
                                    <img src="{% static 'images/case-icon-1.png' %}" alt="case 1">
                                </div>
                                <h3 class="h3-title case-title"><a href="{{ research.get_absolute_url }}">{{ research.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}


            </div>
         <a href="/re_search" class="sec-btn align-items-center" title="بیشتر">بیشتر</a>
        </div>

    </section>
    <!--پروژه ها End-->




    <!--Testimonial Start-->
    <section class="main-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-title">آنچه مشتری ما می گوید</h2>
                </div>
            </div>
            <div class="row main-testimonial-slider wow fadeup-animation" data-wow-delay="0.4s">
                <div class="col-lg-4">
                    <div class="main-testimonial-box ml-15 mr-15">
                        <p>&quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است&quot;.</p>
                        <h3 class="h3-title">سارا آلبرت</h3>
                        <span>مشاور مالی</span>
                        <div class="clinet-img">
                            <img src="{% static 'images/client-1.jpg' %}" class="rounded-circle" alt="client">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-testimonial-box ml-15 mr-15">
                        <p>&quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است&quot;.</p>
                        <h3 class="h3-title">سارا آلبرت</h3>
                        <span>مشاور مالی</span>
                        <div class="clinet-img">
                            <img src="{% static 'images/client-2.jpg' %}" class="rounded-circle" alt="client">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-testimonial-box ml-15 mr-15">
                        <p>&quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است&quot;.</p>
                        <h3 class="h3-title">سارا آلبرت</h3>
                        <span>مشاور مالی</span>
                        <div class="clinet-img">
                            <img src="{% static 'images/client-3.jpg' %}" class="rounded-circle" alt="client">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-testimonial-box ml-15 mr-15">
                        <p>&quot;لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است&quot;.</p>
                        <h3 class="h3-title">سارا آلبرت</h3>
                        <span>مشاور مالی</span>
                        <div class="clinet-img">
                            <img src="{% static 'images/client-4.jpg' %}" class="rounded-circle" alt="client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial End-->

    <!--FAQ Start-->
    <section class="main-faq faq-flot">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
					<div class="faq-content">
						<h2 class="h2-title">پاسخ سوالات شما</h2>
						<div class="accordion faq-box" id="accordionExample">
							{% for questions in questions %}
                                <div class="accordion-item faq-bg wow fadeup-animation" data-wow-delay="0.3s">
							  <h3 class="accordion-header h3-title" id="headingOne">
								<button class="accordion-button faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								{{ questions.question }}<span class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
								</button>
							  </h3>
							  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
								  <P>{{ questions.answer }}</P>
								</div>
							  </div>
							</div>

							{% endfor %}


						  </div>
					</div>
				</div>
            </div>
        </div>
    </section>
    <!--FAQ End-->

	<!--تیم ما Start-->
	<section class="main-team">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="h2-title">با کارشناسان ما آشنا شوید</h2>
				</div>
			</div>
            <div class="row main-team-slider">
                <div class="col-lg-3">
                    <div class="team-box ml-15 mr-15 wow fadeup-animation" data-wow-delay="0.3s">
                        <div class="team-img">
                            <img src="{% static 'images/team-1.jpg' %}" alt="Member-1">
                        </div>
                        <div class="main-team-social">
                            <div class="team-social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="h3-title">کوین مارتین</h3>
                            <span>مشاور</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box ml-15 mr-15 wow fadeup-animation" data-wow-delay="0.4s">
                        <div class="team-img">
                            <img src="{% static 'images/team-2.jpg' %}" alt="Member-1">
                        </div>
                        <div class="main-team-social">
                            <div class="team-social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="h3-title">کریستین ایو</h3>
                            <span>مشاور</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box ml-15 mr-15 wow fadeup-animation" data-wow-delay="0.5s">
                        <div class="team-img">
                            <img src="{% static 'images/team-3.jpg' %}" alt="Member-1">
                        </div>
                        <div class="main-team-social">
                            <div class="team-social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="h3-title">مایک هاردسون</h3>
                            <span>مشاور</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box ml-15 mr-15 wow fadeup-animation" data-wow-delay="0.6s">
                        <div class="team-img">
                            <img src="{% static 'images/team-4.jpg' %}" alt="Member-1">
                        </div>
                        <div class="main-team-social">
                            <div class="team-social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="h3-title">جسیکا براون</h3>
                            <span>مشاور</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box ml-15 mr-15 wow fadeup-animation" data-wow-delay="0.7s">
                        <div class="team-img">
                            <img src="{% static 'images/team-5.jpg' %}" alt="Member-1">
                        </div>
                        <div class="main-team-social">
                            <div class="team-social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="h3-title">سوزی وودز</h3>
                            <span>مشاور</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</section>
	<!--تیم ما End-->



    <!--وبلاگ Start-->
    <section class="main-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-title">آخرین مطالب</h2>
                </div>
            </div>
            <div class="row blog-slider">
               {% for latest_product in latest_product %}
                    <div class="col-lg-4">
                    <div class="blog-box mob-ml-15 mob-mr-15 wow fadeup-animation" data-wow-delay="0.4s">
                        <div class="blog-img">
                            <img src="{{ latest_product.image.url }}" alt="وبلاگ-1">
                            <div class="blog-date">
                                <a href="{{ latest_product.get_absolute_url }}">{{ latest_product.date }}</a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3 class="h3-title">{{ latest_product.title }}</h3>
                            <a href="{{ latest_product.get_absolute_url }}" class="link-btn" title="بیشتر">بیشتر</a>
                        </div>
                    </div>
                </div>


               {% endfor %}

            </div>
        </div>
    </section>
    <!--وبلاگ End-->


    {% endblock %}



