{% load static %}
    <!--Footer Start-->
    <section class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 order-lg-1 order-1">
{#                     {% for about_us in about_us %}#}
                    <div class="logo-content mob-mb-15">
                        <a href=""><img src="{% static 'images/footer-logo.png' %}" alt="logo"></a>

                            <p>{{ about_us.description|truncatechars:250}} </p>



                    </div>
{#                     {% endfor %}#}
                </div>
                <div class="col-lg-3 col-md-6 order-lg-1 order-1">
                    <div class="our-links mob-mb-15">
                        <h3 class="h3-title">لینک ها</h3>
                        <div class="links-text">
                            <ul>
                                <li><a href="/">خانه</a></li>
                                <li><a href="about-us">درباره ما</a></li>
                                <li><a href="product"> گروه های علمی و پژوهشی</a></li>
                                <li><a href="re_search">پژوهش های مرکز</a></li>
                                <li><a href="blog"> نشست ها و مقالات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-4 order-2">

                    <div class="contact-us mob-mt-15 mob-mt-0">

                        <h3 class="h3-title">تماس با ما</h3>
                        <div class="contact-us-content" >

                                 <div class="contact-text mb-20">
                                     <div class="contact-icon">
                                         <img src="{% static 'images/location-icon.png' %}" alt="location">
                                 </div>

                                <p>{{ site_setting.place }}</p>
                            </div>
                            <div class="contact-text mb-20">
                                <div class="contact-icon">
                                    <img src="{% static 'images/call-1.png' %}" alt="call">
                                </div>
                                <p>{{ site_setting.phone }}</p>
                            </div>
                            <div class="contact-text">
                                <div class="contact-icon">
                                    <img src="{% static 'images/email-1.png' %}" alt="email">
                                </div>
                                <p>{{ site_setting.email }}</p>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-4 order-2">
                    <div class="latest-post mob-mt-15">
                        <h3 class="h3-title"> اخرین نشست ها </h3>
                        {% for latest_product in latest_product %}
                            <div class="latest-post-box">
                            <div class="latest-post-content mb-20 mob-mb-50">

                                <div class="latest-post-text">
                                    <a href="{{ latest_product.get_absolute_url }}"><p>{{ latest_product.title }}</p></a>
                                    <span>{{ latest_product.date }}</span>
                                </div>
                            </div>

                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="row copyright-bg">
                <div class="col-xl-6 col-lg-6 col-md-7">
                    <div class="copyright-content">
                        <p>کپی رایت &copy;  <a href=""></a> تمام حقوق محفوظ می باشد.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Footer End-->